/* categories */
.category-card-wrapper {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: 200px; /* Adjust the height value as needed */
    overflow: hidden; /* Hide overflow content */
}

.category-card-wrapper:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-card-wrapper .category-card h4 {
    font-size: 1.45rem; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-transform: uppercase; /* Adjust text transform as needed */
    margin: 0; /* Remove any default margin */
}

.category-card-wrapper:hover .category-card:before {
    background-color: rgba(255, 255, 255, 0.5);
}

.category-card-wrapper  .category-card img {
    height: 80px;
}

.category-card-wrapper .category-card {
    text-decoration: None;
}
/* Custom CSS for smaller font size and image size */
@media (max-width: 576px) {
    .category-card-wrapper .category-card h4 {
        font-size: 1.15rem; /* Adjust the font size as needed */
    }

    .smaller-image {
        max-width: 70px; /* Adjust the maximum width of the image as needed */
        max-height: 70px; /* Adjust the maximum height of the image as needed */
    }
}
/* Custom CSS for smaller font size and image size */
@media (max-width: 1030px) {
    .category-card-wrapper {
        height: 230px;
    }
}
